---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import IntroScreen from "../components/IntroScreen.astro";
---

<Layout title="Jose Rodriguez — Full-Stack Dev">
  <main class="w-full flex flex-col items-center px-6 md:px-10 lg:px-12">
    <div class="flex flex-col w-full max-w-[1300px]">
      <Header />
      <p
        class="mt-24 md:mt-28 lg:mt-32 text-3xl md:text-5xl lg:text-7xl animate-rotational-wave [animation-iteration-count:unset] [animation-delay:3.8s] max-w-max"
      >
        👋
      </p>
      <section class="flex flex-col gap-2 lg:gap-4 mt-4 md:mt-6 lg:mt-8">
        <p
          class="text-primary font-medium text-3xl md:text-5xl lg:text-6xl animate-fade-in-up [animation-delay:2.8s] md:max-w-[85%] lg:max-w-[65%]"
        >
          Hey! My name is Jose. I'm a Web Dev currently working at
          <a
            class="text-accent hover:underline"
            href="https://transmit.live/"
            target="_blank">Transmit</a
          >.
        </p>
        <p
          class="text-primary font-normal text-base md:text-lg lg:text-xl animate-fade-in-up [animation-delay:3s] md:max-w-[85%] lg:max-w-[65%]"
        >
          I thrive on exploring the latest web technologies and crafting
          innovative solutions that push the boundaries of what's possible
          making each project I tackle cutting-edge, and meticulously executed.
        </p>
        <a
          class="mt-4 md:mt-6 lg:mt-8 text-2xl font-semibold text-primary hover:underline"
          href="mailto:joserodriguezcabr@gmail.com"
        >
          joserodriguezcabr@gmail.com
        </a>
      </section>
    </div>
  </main>
  <IntroScreen />
</Layout>

<style></style>
