<header
  class="flex w-full justify-between py-4 md:py-6 lg:py-8 animate-fade-in-down [animation-delay:2s]"
>
  <a
    class="text-primary font-bold text-lg md:text-xl lg:text-3xl hover:underline"
    href="/">jose.</a
  >
  <nav class="flex gap-4 md:gap-6 lg:gap-8">
    <a class="text-primary text-base lg:text-lg hover:underline" href="/"
      >contact</a
    >
    <a class="text-primary text-base lg:text-lg hover:underline" href="/"
      >contact</a
    >
    <a class="text-primary text-base lg:text-lg hover:underline" href="/"
      >contact</a
    >
  </nav>
</header>
