<div
  class="h-full w-full flex flex-nowrap absolute top-0 animate-slide-down [animation-delay:2.9s]"
>
  <div class="bg-primary h-full grow animate-slide-down [animation-delay:1.5s]">
  </div>
  <div class="bg-primary h-full grow animate-slide-down [animation-delay:1.6s]">
  </div>
  <div class="bg-primary h-full grow animate-slide-down [animation-delay:1.7s]">
  </div>
  <div class="bg-primary h-full grow animate-slide-down [animation-delay:1.8s]">
  </div>
  <div
    class="absolute h-full w-full flex flex-col md:flex-row justify-center items-center text-background gap-2 animate-fade-out [animation-duration:0.3s] [animation-delay:1.5s]"
  >
    <span
      class="text-background text-3xl font-thin animate-blurred-fade-in [animation-duration:0.2s]"
    >
      web dev,
    </span>
    <span
      class="text-background text-3xl font-thin animate-blurred-fade-in [animation-duration:0.2s] [animation-delay:.5s]"
    >
      innovative thinker,
    </span>
    <span
      class="text-background text-3xl font-thin animate-blurred-fade-in [animation-duration:0.2s] [animation-delay:1s]"
    >
      dog lover
    </span>
  </div>
</div>
