---
// Supports weights 300-700
import "@fontsource-variable/quicksand";

import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

// css color variables
const primaryColor = "8 9 12";
const white = "243 244 247";
const accentColor = "220 73 58";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style
  is:global
  define:vars={{
    primaryColor,
    white,
    accentColor,
  }}
>
  body {
    font-family: "Quicksand Variable", sans-serif;
  }
</style>
